{
  "db": {
    "logs": false,
    "host": "localhost",
    "user": "root",
    "password": "",
    "name": "lumpia",
    "dialect": "mysql",
    "port": 3306,
    "pool": {
      "max": 32,
      "min": 0,
      "acquire": 30000,
      "idle": 10000
    }
  },
  "server": {
    "port": 8080
  },
  "log": {
    "enable": true,
    "format": "DD/MM/YYYY HH:mm:ss"
  }
}